
html, body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

.response-error {
    display: none;
    margin: auto;
    width: 40%;
    text-align: center;
}

.title {
    color: #636b6f;
    font-size: 28px;
    text-align: center;
    display: inline-block;
}

#team-selector {
    display: none;
}

input {
    margin-left: 5px;
}

.team-name, .team-power {
    font-weight: bold;
}

.team-power {
    color: #6f42c1;
}


.league-table {

}

.table-header {
    text-align: center;
    font-weight: bold;
}

.match-span {
    display: inline-block;
}

.host-name {
    width: 35%;
    text-align: start;
}

.result {
    width: 20%;
    text-align: center;
}

.guest-name {
    width: 40%;
    text-align: end;
}

.predictions {
    font-weight: bold;
}

.prediction-team-name {
    display: inline-block;
    float: left;
}

.team-prediction {
    display: inline-block;
    float: right;
}